
.header_part{
    background:#272626;
    padding: 10px 60px;
    position: relative;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 9999;
}
.header_part h4{
    color: #373434;
    padding: 5px;
    margin-bottom: 2px;
}
.header_part img{
    float: left;
    height: 60px;
    border-radius: 50%;
}


.data_table{
    background: #a4ede7c4;
    padding: 20px;
    margin: bottom 50px;;
    box-shadow: 1px 3px 5px #aaa;
    border-radius: 5px;
}
.data_table .btn{
    padding: 5px 10px;
    margin: 10px 3px 10px 0;
}